{% extends "blog/layout_blog.html" %}

{% block css %}

{% endblock %}


{% block content %}
<section class="home bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="home-wrapper">

                    <h1 class="animated fadeInDown wow" data-wow-delay=".1s">游戏服务器工具</h1>
                    <!-- <h4 class="page-sub-title animated fadeInDown wow" data-wow-delay=".3s">From our Blog</h4> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <button id="runButton">运行Python方法</button> -->
{% endblock %}


{% block js %}

{% endblock %}