<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Markdown to HTML</title>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
  <div id="markdown"></div>
</body>

<script>
  // 获取markdown文档的URL
  const markdownUrl = '../../static/blog/md/在Linux系统下安装SteamCMD.md';
  
  // 使用Ajax获取markdown文档内容
  const xhr = new XMLHttpRequest();
  xhr.open('GET', markdownUrl);
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      // 将markdown文档转换为HTML代码
      const markdownHtml = marked.parse(xhr.responseText);
      
      // 将HTML代码插入到div元素中
      document.getElementById('markdown').innerHTML = markdownHtml;
    }
  };
  xhr.send();
</script>

</html>


<script src="https://js.cybozu.cn/markedjs/v0.3.5/marked.min.js"></script>

{{ buildStaticUrl('/blog/md/Linux基础.md')}}