{% extends "common/cuc_main.html" %}

{% block css %}

{% endblock %}


{% block content %}
<section id="banner">
    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="{{ buildStaticUrl('/musicGen/img/music3.jpg') }}" alt="" />
                <div class="flex-caption">
                    <h3>动机&音乐生成系统</h3>
                    <p>一键智能生成音乐</p>

                </div>
            </li>
            <!-- <li>
                <img src="img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Originality </h3>
                    <p>Success depends on originality</p>

                </div>
            </li> -->
        </ul>
    </div>
    <!-- end slider -->

</section>
{% endblock %}


{% block js %}

{% endblock %}