{% extends "common/musicgen_main.html" %}

{% block css %}
<!-- <style src="{{ buildStaticUrl('/musicGen/music/css/musicplayer.css') }}"></style> -->
<style>
    /* Custom player style */
    #section3 midi-player {
        display: block;
        width: inherit;
        margin: 4px;
        margin-bottom: 0;
    }

    #section3 midi-player::part(control-panel) {
        background: #2e8eda;
        border: 2px solid #000;
        border-radius: 10px 10px 0 0;
    }

    #section3 midi-player::part(play-button) {
        color: #353;
        border: 2px solid currentColor;
        background-color: #fff;
        border-radius: 20px;
        transition: all 0.2s;
        content: 'hello';
    }

    #section3 midi-player::part(play-button):hover {
        color: #0a0;
        background-color: #e0e0e0;
        border-radius: 10px;
    }

    #section3 midi-player::part(time) {
        font-family: monospace;
    }

    /* Custom visualizer style */
    #section3 midi-visualizer .piano-roll-visualizer {
        background: #fff;
        border: 2px solid black;
        border-top: none;
        border-radius: 0 0 10px 10px;
        margin: 4px;
        margin-top: 0;
        overflow: auto;
    }

    #section3 midi-visualizer svg rect.note {
        opacity: 0.6;
        stroke-width: 2;
    }

    #section3 midi-visualizer svg rect.note[data-instrument="0"] {
        fill: #e22;
        stroke: #500;
    }

    #section3 midi-visualizer svg rect.note[data-instrument="2"] {
        fill: #2ee;
        stroke: #055;
    }

    #section3 midi-visualizer svg rect.note[data-is-drum="true"] {
        fill: #888;
        stroke: #888;
    }

    #section3 midi-visualizer svg rect.note.active {
        opacity: 0.9;
        stroke: #000;
    }
</style>
{% endblock %}


{% block content %}

<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="pageTitle" style="color: #2e8eda;">生成音乐播放</h2>
                <br>
                <br>
            </div>
            <!-- <div class="col-lg-4">
                <a href="{{ buildUrl('/musicGen/music') }}" class="btn btn-primary"
                    style="margin-top: 30px; margin-left: 230px;">生成音乐</a>

            </div> -->
            <!-- <br> -->
            <div class="col-lg-12">
                <section id="section3">
                    <!-- <h2>Custom player and visualizer style</h2> -->
                    <midi-player src="{{ buildStaticUrl('/musicGen/music/midi/picMusic1.mid') }}" sound-font
                        visualizer="#section3 midi-visualizer">
                    </midi-player>
                    <midi-visualizer src="{{ buildStaticUrl('/musicGen/music/midi/picMusic1.mid') }}">
                    </midi-visualizer>
                </section>
            </div>
        </div>

    </div>
</div>

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="pageTitle">生成质量调查</h2>
            </div>
            <!-- <div class="col-lg-4">
                <a href="{{ buildUrl('/musicGen/music') }}" class="btn btn-primary"
                    style="margin-top: 30px; margin-left: 180px;">提交上传</a>

            </div> -->
        </div>
    </div>
</section>

<div class="about home-about">


    <div class="container">

        <div class="row">
            <!-- <div class="col-md-4">
                <div class="block-heading-two">
                    <h3><span>模型参数</span></h3>
                </div>
                <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur. <br><br>Sed ut perspiciaatis iste natus error sit voluptatem probably haven't
                    heard of them accusamus.
                </p>
            </div> -->
            <div class="col-md-4">
                <div class="block-heading-two">
                    <h3><span>个人信息</span></h3>
                </div>
                <!-- <p>
                    解释说明
                </p> -->
                <!-- Accordion starts -->
                <div class="panel-group" id="accordion-alt3">
                    <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                    <div class="panel-Red">
                        <!-- Panel heading -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                    <i class="fa fa-angle-right"></i> 年龄段
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne-alt3" class="panel-collapse collapse in">
                            <!-- Panel body -->

                            <div class="panel-body">
                                <table class="table">

                                    <ul>
                                        <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="deepNum">
                                            <i class="icon-ok"></i> ＜20岁
                                        </label>
                                        <label class="radio">
                                            <input type="radio" checked value="" data-toggle="checkbox" name="deepNum">
                                            <i class="icon-ok"></i> 20-30岁
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="deepNum">
                                            <i class="icon-ok"></i> 30岁以上
                                        </label>
                                        <!-- <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="deepNum">
                                            <i class="icon-ok"></i> 3层
                                        </label> -->

                                    </ul>
                                </table>
                            </div>

                            <!-- <div class="panel-body">
                                Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                voluptatem quia voluptas
                            </div> -->
                        </div>
                    </div>
                    <div class="panel-Red">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                    <i class="fa fa-angle-right"></i> 性别
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree-alt3" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">

                                    <ul>
                                        <label class="radio">
                                            <input type="radio" checked value="" data-toggle="checkbox"
                                                name="deepPoint">
                                            <i class="icon-ok"></i> 男
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="deepPoint">
                                            <i class="icon-ok"></i> 女
                                        </label>
                                        <!-- <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="deepPoint">
                                            <i class="icon-ok"></i> 30个
                                        </label> -->

                                    </ul>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel-Red">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                                    <i class="fa fa-angle-right"></i> 是否为音乐专业人员
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree-alt3" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">

                                    <ul>
                                        <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="Sex">
                                            <i class="icon-ok"></i> 是
                                        </label>
                                        <label class="radio">
                                            <input type="radio" checked value="" data-toggle="checkbox" name="Sex">
                                            <i class="icon-ok"></i> 否
                                        </label>
                                        <!-- <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="deepPoint">
                                            <i class="icon-ok"></i> 30个
                                        </label> -->

                                    </ul>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Accordion ends -->

            </div>
            <div class="col-md-4">
                <div class="block-heading-two">
                    <h3><span>音乐质量评估</span></h3>
                </div>
                <p>
                    请对生成的音乐质量进行评估，评分由1-5表示，1表示非常不符合，2表示不符合，3表示一般符合，4表示比较符合，5表示非常符合。
                </p>
                <!-- Accordion starts -->
                <div class="panel-group" id="accordion-alt3">
                    <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                    <div class="panel-Red">
                        <!-- Panel heading -->
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                    <i class="fa fa-angle-right"></i> 音乐创造性（是否原创）
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo-alt3" class="panel-collapse collapse in">
                            <!-- Panel body -->

                            <div class="panel-body">
                                <table class="table">

                                    <ul>
                                        <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="masked">
                                            <i class="icon-ok"></i> 1
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="masked">
                                            <i class="icon-ok"></i> 2
                                        </label>
                                        <label class="radio">
                                            <input type="radio" checked value="" data-toggle="checkbox" name="masked">
                                            <i class="icon-ok"></i> 3
                                        </label><label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="masked">
                                            <i class="icon-ok"></i> 4
                                        </label>
                                        </label><label class="radio">
                                            <input type="radio" value="" data-toggle="checkbox" name="masked">
                                            <i class="icon-ok"></i> 5
                                        </label>

                                    </ul>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                <i class="fa fa-angle-right"></i> 音乐连贯性（动听悦耳程度）
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo-alt3" class="panel-collapse collapse in">
                        <!-- Panel body -->

                        <div class="panel-body">
                            <table class="table">

                                <ul>
                                    <label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="music">
                                        <i class="icon-ok"></i> 1
                                    </label>
                                    <label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="music">
                                        <i class="icon-ok"></i> 2
                                    </label>
                                    <label class="radio">
                                        <input type="radio" checked value="" data-toggle="checkbox" name="music">
                                        <i class="icon-ok"></i> 3
                                    </label><label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="music">
                                        <i class="icon-ok"></i> 4
                                    </label>
                                    </label><label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="music">
                                        <i class="icon-ok"></i> 5
                                    </label>

                                </ul>
                            </table>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                                <i class="fa fa-angle-right"></i> 音乐情感与图像符合程度
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo-alt3" class="panel-collapse collapse in">
                        <!-- Panel body -->

                        <div class="panel-body">
                            <table class="table">

                                <ul>
                                    <label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="pic">
                                        <i class="icon-ok"></i> 1
                                    </label>
                                    <label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="pic">
                                        <i class="icon-ok"></i> 2
                                    </label>
                                    <label class="radio">
                                        <input type="radio" checked value="" data-toggle="checkbox" name="pic">
                                        <i class="icon-ok"></i> 3
                                    </label><label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="pic">
                                        <i class="icon-ok"></i> 4
                                    </label>
                                    </label><label class="radio">
                                        <input type="radio" value="" data-toggle="checkbox" name="pic">
                                        <i class="icon-ok"></i> 5
                                    </label>

                                </ul>
                            </table>
                        </div>
                    </div>


                </div>
                <!-- Accordion ends -->

            </div>
            <div class="col-md-4">
                <div class="block-heading-two">
                    <h3><span>上传的图片</span></h3>
                </div>
                <!-- <p>
                    解释说明
                </p>
                <div class="testimonials">
                    <div class="active item">
                        <div id="upload">
                            <p style="margin-top: 80px;">将图片拖到此区域或者点击按钮上传</p>
                            <label for="file-upload">选择文件</label>
                            <input id="file-upload" type="file" accept="image/*" onchange="loadFile(event)">


                        </div>

                        
                    </div>
                </div> -->
                <img src="{{ buildStaticUrl('/musicGen/music/img/1.jpg') }}" style="width: 300px; height: auto;" alt="">
            </div>


            <div class="container">
                <div class="row">

                    <div class="col-lg-8">
                        <a href="{{ buildUrl('/musicGen/musicplay') }}" class="btn btn-primary"
                            style="margin-top: 30px; margin-left: 500px;">提交上传</a>

                    </div>
                </div>
            </div>


        </div>






        <br>

    </div>



</div>



{% endblock %}


{% block js %}
<script
    src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0">
</script>
<!-- <script src="{{ buildStaticUrl('/musicGen/music/js/musicplayer.js') }}"></script> -->

{% endblock %}