{% extends "common/musicplay_main.html" %}

{% block css %}

{% endblock %}


{% block content %}

<section>
    <!-- <iframe width="100%" height="500px" src="https://musescore.com/user/30720276/scores/5405402/embed" frameborder="0"
        allowfullscreen allow="autoplay; fullscreen">
    </iframe> -->
<!-- 
    <iframe width="100%" height="700px" src="https://musescore.com/user/40886936/scores/10867840/embed" frameborder="0"
        allowfullscreen allow="autoplay; fullscreen"></iframe> -->

    <!-- <iframe width="100%" height="394" src="https://musescore.com/user/40886936/scores/10935697/s/4-eW6K/embed"
        frameborder="0" allowfullscreen allow="autoplay; fullscreen"></iframe> -->

    <iframe width="100%" height="700px" src="https://musescore.com/user/40886936/scores/10935727/embed" frameborder="0"
        allowfullscreen allow="autoplay; fullscreen"></iframe>


</section>

{% endblock %}


{% block js %}

{% endblock %}