<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML设置复选框、单选框</title>
</head>

<body>
    <form name="from1" id="form1" action="upload.php">
        <label>性别：</label>
        <input type="radio" name="sex" value='male' />
        <label>男</label>
        <input name="sex" checked type="radio" value="female" />
        <label>女</label>
        <input name="sex" type="radio" value="gay" />
        <label>同性恋</label>
        <br>
        <label>科目：</label>
        <input name='subject' type="checkbox" value="Chinese">
        <label>语文</label>
        <input name='subject' type="checkbox" checked value="Math">
        <label>数学</label>
        <input name='subject' type="checkbox" checked="checked" value="English" />
        <label>英语</label>
        <input name='subject' type="checkbox" checked value="Sport" />
        <label>体育</label>
    </form>
</body>

</html>